@model OnlineShopping.Entities.Product
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form id="createProduct">
    <label>Product Name</label>
    <input name="Name" />
    <br />
    <label>Description</label>
    <input name="Description" />
    <br />
    <label>Price</label>
    <input name="Price" />
    <br />
    <button type="button" id="saveBtn">Create</button>
</form>
<script>
    $("#saveBtn").click(function () {
        //alert("button clicked");
        $.ajax({
            type: 'post',
            url: '/Product/Create',
            //either
            //data: {
            //    Name:'' ,
            //    Description:'',
            //    Price:''
            //or
            data: $("#createProduct").serialize()
        })
            .done(function (response) {
                $("#Tablecontainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function () {
                alert("Fail");
            });
    });
</script>
