
@{
    ViewBag.Title = "Index";
}
<style>
    div {
        padding-right: 30px;
        padding-bottom: 5px;
        padding-left: 80px;
    }
    </style>
<div id="Tablecontainer">
    @{
        Html.RenderAction("ProductTable");
    }
</div>
<div id="actionContainer">
</div>


