@model IEnumerable<OnlineShopping.Entities.Product>
@{
    ViewBag.Title = "ProductTable";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<h2>ProductTable</h2>
<div>
    <form method="post">
        <input id="searchTxt" name="Search" />
        <button type="button" id="searchBtn">Search</button>
    </form>
    <button type="submit" id="newBtn">New</button>
</div>
<table>
    <thead>
        <tr>
            <td>Product Name</td>
            <td>Category</td>
            <td>Price</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td></td>
                <td>@item.Price</td>
                <td>
                    <button>Edit</button>
                    <button>Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $("#searchBtn").click(function () {
        var searcValue = $("#searchTxt").val();
        //alert(searcValue);
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searcValue
            }
        })
            .done(function (response) {
                $("#Tablecontainer").html(response);
            })
            .fail(function () {
                alert("Fail");
            });
    });

    //add new product 25.07.2019
    $("#newBtn").click(function () {
        $.ajax({
            url: '/Product/Create',
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function () {
                alert("Fail");
            });
    });
</script>


