
@{
    ViewBag.Title = "Create";
}
<style>
    .div {
        padding-right: 30px;
        padding-bottom: 5px;
        padding-left: 80px;
    }
</style>
<h2>Create</h2>
<form method="post" class="div">
    <label name="Name">Name</label>
    <input name="Name" />
    <br />
    <label name="Description">Description</label>
    <input name="Description" />
    <br />

    <label>Image</label>
    <input id="ImageURL" name="ImageURL" type="hidden" />
    <input type="file" id="imageUpload" name="image" multiple="multiple" accept=".png, .jpg"/>
    <div class="thumb">
        <img id="categoryImage" />
    </div>
    <br />
    <button type="submit">Save</button>
</form>

<script>
    $("#imageUpload").change(function () {
        debugger;
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++)
        {
            var file = element.files[i];
            formData.append("Photo", file);
        }
        $.ajax({
            type: 'Post',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
            .done(function (response) {
                debugger;
                console.log(response);
                if (response.Success)
                {
                    $("#ImageURL").val(response.ImageURL);
                    $("#categoryImage").attr("src", response.ImageURL)
                }
            })
            .fail(function () {
                alert("Fail");
            });
    });

</script>

