@model OnlineShopping.Entities.Category
    @{
        ViewBag.Title = "Edit";
    }

    <h2>Edit</h2>
    <form method="post">
        <label name="ID">ID</label>
        <input type="hidden" name="ID" value="@Model.ID" />
        <br/>
        <label name="Name">Name</label>
        <input name="Name" value="@Model.Name" />
        <br />
        <label name="Description">Description</label>
        <input name="Description" value="@Model.Description" />
        <br />
        <button type="submit">Update</button>
    </form>

