@model IEnumerable<OnlineShopping.Entities.Category>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
            <td>@category.Description</td>
        </tr>
    }
</table>
@*https://www.youtube.com/watch?v=BMxP05ZogmY&list=PL8GjhnDb2TQJls0Ukoh4ZUcPgYbG0GQH1&index=2
56:33*@